/* generel */
body, html {
    height: 100%;
    --header-bg: #8C765A;
    --font-color: #f5f4f9;
    --pane-bg: #7EA656;
    --pane-bg-sec: #8C765A;
    --tr-col-1: #7EA656;
    --tr-col-2: #8C765A;
}



/* main page */
ion-item.item-complex {
    color: #e0e0e0;
}
ion-item.item-complex .name-de {
    padding-top: 14px;
    font-weight: bold;
}
ion-item.item-complex .name-bo {
    font-style: italic;
    padding-left: 15px;
}
ion-item.item-complex .statistics-quot {
    position: absolute;
    right: 0px;
    padding-right: 5px;
    font-style: italic;
    font-weight: bold;
}
ion-item.item-complex img {
    padding-right: 10px;
}
ion-item.item-complex span {
    padding-left: 10px;
}
/* end main page */

/* bar */
ion-header-bar.bar,
ion-header-bar.bar.bar-stable,
ion-filter-bar .bar.bar-stable {
    background: var(--header-bg);
    color: var(--font-color);
}
.bar.bar-stable .title,
.bar.bar-stable .button,
.bar.bar-stable button {
  color: #f5f4f9;
}
/* end bar */

.pane {
    background-color: var(--pane-bg);
}

ion-item.item-complex > a {
}
ion-item.item-complex > a.activated {
    background-color: var(--pane-bg-sec);
}

.scroll-content.ionic-scroll {
    padding: 16px;
}
ion-item.item-complex .item-content {
    margin-bottom: 16px;
}

infotable .info-table {
    width: 100%;
    background-color: var(--tr-col-2);
    padding-top: 16px;
}
infotable .info-table tr:nth-child(1) {
    padding-top: 20px;
}
infotable .info-table td:nth-child(1) {
    text-align: right;
    border: 0;
}
infotable .info-table td:nth-child(2) {
    background-color: var(--tr-col-1);
}

infotable .info-table td {
    border: 0;
    padding: 7px 16px;
}

.tabs-icon-top > .tabs .tab-item {
    color: var(--font-color);
    font-size: 15px;
    padding: 10px 0;
}
.tabs-top > .tabs, .tabs.tabs-top {
    top: auto;
    bottom: 0px;
    left: 0;
    width: 100%;
}


.tabs-icon-top > .tabs .tab-item.tab-item-active,
.tabs-icon-top > .tabs .tab-item.activated {
    background-color: var(--pane-bg);
}
    
.tabs-striped.tabs-positive .tabs {
    background-color: var(--header-bg);
    height: 60px;
}

/* imagecarousel */
imagecarousel {
/*    position: relative;*/
    height: 100%;
}
.question-images imagecarousel .button-overlay {
    bottom:130px;
    height:100px;
    width:240px;
    overflow: visible
}
imagecarousel .slider{
	height: 100%;
	overflow: hidden;
}
imagecarousel ion-slide {
    height: 100%;
	width: 100%;
	text-align: center;
}
imagecarousel .image-type {
    height: 100%;
}
imagecarousel img {
	max-height: 100%;
	max-width: 100%;
}
imagecarousel .img-desc {
    padding-bottom: 4px;
    text-align: left;
    font-size: 20px;
    margin-bottom: 16px;
}
imagecarousel .img-counter {
    float: right;
}
imagecarousel .images {
	height: 100%;
    width: 100%;
}
imagecarousel .img-container {
	display: none;
	height: calc(100% - 20px);
}
imagecarousel .ionic-scroll {
	height: 100%;
    overflow: visible;
}
imagecarousel .scroll {
	height: 100%;
}
imagecarousel .scroll-bar {
	display: none;
}
/* end imageswitch */


/* wood page */
ion-view.pane .wood-name {
    margin: 7px;
    font-weight: bold;
	float: left;
}
#openImages {
	float: right;
    margin: 5px 3px;
    padding: 0px 4px;
    font-weight: bold;
    color: #000;
    background-color: rgb(84, 84, 93) !important;
    border: 2px solid rgb(185, 185, 198) !important;
}

ion-view.pane .wood-images {
	/*margin-top: 50px;*/
	height: calc(100% - 115px);
}
/* end wood page */

/* start wood images button-overlay */

imagecarousel .button-overlay {
    position: absolute;
    bottom: 27px;
    left: -16px;
    height: 120px;
    width: 100vw;
    pointer-events: none;
	z-index: 100;
}
.button-overlay {
    margin: 0 auto;
}
.button-overlay .button {
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: #e0e0e0;
    background-color: var(--header-bg);
    border: 0;
    overflow: hide;
    border-radius: 0;
}
.button-overlay .button.activated {
    border: 0;
}
.button-overlay .button.right {
    position: absolute;
    pointer-events: all;
    right: 0;
    width: 20%;
    height: 120px;
    padding-top: 30px;
}

.button-overlay .button.left {
    position: absolute;
    pointer-events: all;
    left: 0;
    width: 20%;
    height: 120px;
    padding-top: 30px;
}

.button-overlay .button.up {
    position: absolute;
    pointer-events: all;
    left: 20vw;
    top: 0;
    width: 60vw;
    font-size: 2em;
    width: 60%;
    height: 60px;
    border: 0;
}

.button-overlay .button.down {
    position: absolute;
    pointer-events: all;
    font-size: 2em;
    bottom: 0;
    left: 20vw;
    width: 60%;
    height: 60px;
    border: 0;
}

/* end wood images button-overlay */

/* start training page */

#start-training {
    margin: 5px 3px;
    padding: 0px 4px;
    font-weight: bold;
    color: #e0e0e0;
    background-color: rgb(97, 97, 106) !important;
    border: 2px solid rgb(185, 185, 198) !important;
}

/* end training page */

/* question page */
.answer-box {
    width: 100%;
    position: absolute;
    bottom: 10px;
}
.question-wood-images {
	height: calc(100% - 115px);
}
.question-wood-images .wood-description {
	display: none;
}
.multiple-choice-answer-list {
	float:left;
	width: 70%;
	padding: 0 0 0 2.5%;
}
.multiple-choice-answer {
/*	height: 40px;*/
}
.multiple-choice-answer .item-content {
	padding: 5px;
}
.multiple-choice-answer .radio-icon {
	padding: 0 10px 0 0;
	float: right;
}

#infoButton {
	display: none;
	white-space: nowrap;
	float: right;
	width: 25%;
	min-height: 20px;
	margin-right: 2.5%;
}
#nextButton {
	display: none;
	white-space: nowrap;
	float: right;
	width: 25%;
	min-height: 20px;
	margin-right: 2.5%;
}

/* training conf page */
.button.start-training {
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translate(-50%);
}

.popup,
.popup h3 {
    color: #4e4e4e;
}