/* generel */
body, html {
    height: 100%;
    --control-bg: #8C765A;
    --font-color: #f5f4f9;
    --font-color-dark: #565656;
    --pane-bg: #7EA656;
    --pane-bg-sec: #BFAE99;
    --pane-bg-tri: #2e3c20;
    --bottom-nav-height: calc(100vh - 175px);
}


/* main page */
ion-item.item-complex {
    color: #e0e0e0;
    padding: 8px 0;
}
ion-item.item-complex .name-de {
    font-weight: bold;
}
ion-item.item-complex .name-bo {
    font-style: italic;
    padding-left: 15px;
}
ion-item.item-complex .statistics-quot {
    position: absolute;
    right: 0px;
    padding-right: 5px;
    font-style: italic;
    font-weight: bold;
}
ion-item.item-complex img {
    padding-right: 10px;
}
ion-item.item-complex span {
    padding-left: 10px;
}
.wood-tile .item-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 16px;
}
.wood-thumbnail-wrapper,
.wood-statistics-wrapper {
    flex: 0 0 50px;
    overflow: hidden;
}
.wood-statistics-wrapper {
    position: relative;
}
.wood-statistics-wrapper svg {
    margin-top: 4px;
}
.wood-statistics-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wood-name-wrapper {
    flex: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 7px;
}
.wood-thumbnail {
    min-height: 50px;
    min-width: 50px;
}
/* end main page */

/* bar */
ion-header-bar.bar,
ion-header-bar.bar.bar-stable,
ion-filter-bar .bar.bar-stable {
    background: var(--control-bg);
    color: var(--font-color);
    border: 0;
}
.bar.bar-stable .title,
.bar.bar-stable .button,
.bar.bar-stable button {
  color: #f5f4f9;
}
/* end bar */

.pane {
    background-color: var(--pane-bg);
}

ion-item.item-complex > a.activated {
    background-color: var(--control-bg);
}

.scroll-content.ionic-scroll {
}

infotable {
    height: 100%;
}
infotable .info-table {
    width: 100%;
    height: 100%;
    background-color: var(--pane-bg);
    display: flex;
    flex-direction: column;
}
infotable .info-table .info-value {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
}
infotable .info-table .info-value:first-child > div {
    padding-top: 24px;
}
infotable .info-table .info-value:last-child {
    flex: 1;
}
infotable .info-table .value-name,
infotable .info-table .value-content {
    padding: 10px 13px;
}
infotable .info-table .value-name {
    text-align: right;
    flex: 0 0 120px;
    font-weight: 600;
}
infotable .info-table .value-content {
    flex: 1;
}

.tabs-positive > .tabs {
    border: 0;
    background: none;
}
.tabs.tab-nav {
    height: 60px;
    padding: 0;
}
.tab-content {
    top: 60px;
}

.tabs .tab-item {
    background-color: var(--control-bg);
    color: var(--font-color);
    font-size: 15px;
    padding: 10px 0;
    max-width: none;
    opacity: 1;
    transition: flex .2s;
}

.tabs-icon-top > .tabs .tab-item.tab-item-active,
.tabs-icon-top > .tabs .tab-item.activated {
    background-color: var(--pane-bg);
    flex: 2;
}
    
.tabs-striped.tabs-positive .tabs {
    background-color: var(--control-bg);
    height: 60px;
}

/* imagecarousel */
imagecarousel {
    height: 100%;
}
imagecarousel .wrapper {
    height: var(--bottom-nav-height);
}
.question-images imagecarousel .button-overlay {
    overflow: visible;
}
imagecarousel .slider{
	height: 100%;
	overflow: hidden;
}
imagecarousel ion-slide.slider-slide {
    height: 100%;
	width: 100%;
    text-align: center;
}
imagecarousel ion-scroll .scroll {
    display: flex;
    align-items: center;
    justify-content: center;
}
imagecarousel .image-type {
    height: 100%;
}
imagecarousel img {
	max-height: 100%;
	max-width: 100%;
}
imagecarousel .img-desc {
    text-align: left;
    font-size: 20px;
    padding: 21px 21px;
    height: 80px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 24px;
}
imagecarousel .img-counter {
    float: right;
    font-size: 20px;
}
imagecarousel .images {
	height: 100%;
    width: 100%;
}
imagecarousel .img-container {
	display: none;
    height: var(--bottom-nav-height);
    margin-top: 4px;
}
imagecarousel .ionic-scroll {
	height: 100%;
    overflow: visible;
}
imagecarousel .scroll {
	height: 100%;
}
imagecarousel .scroll-bar {
	display: none;
}
/* end imageswitch */


/* wood page */
ion-view.pane .wood-name {
    margin: 7px;
    font-weight: bold;
	float: left;
}
#openImages {
	float: right;
    margin: 5px 3px;
    padding: 0px 4px;
    font-weight: bold;
    color: #000;
    background-color: rgb(84, 84, 93) !important;
    border: 2px solid rgb(185, 185, 198) !important;
}

ion-view.pane .wood-images {
    /*margin-top: 50px;*/
}
ion-view.pane .images-tab {
    position: relative;
}
/* end wood page */

/* menu */
.menu-item {
    color: var(--font-color);
}

/* start wood images button-overlay */

imagecarousel .button-overlay {
    position: absolute;
    left: 0;
    width: 100vw;
    height: var(--bottom-nav-height);
}
.hidden .button-overlay {
    display: none;
}
.button-overlay .button {
    position: absolute;
    pointer-events: all;
    color: var(--font-color);
    background-color: transparent;
    opacity: 0.7;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.button-overlay .button.activated {
}
.button-overlay .button.right {
    right: 0;
    height: 70%;
    top: 15%;
}

.button-overlay .button.left {
    left: 0;
    height: 70%;
    top: 15%;
}

.button-overlay .button.up {
    top: 87px;
    width: 100%;
    height: 30px;
}

.button-overlay .button.down {
    bottom: 87px;
    width: 100%;
    height: 30px;
}

/* end wood images button-overlay */

/* start training page */

#start-training {
    margin: 5px 3px;
    padding: 0px 4px;
    font-weight: bold;
    color: #e0e0e0;
    background-color: rgb(97, 97, 106) !important;
    border: 2px solid rgb(185, 185, 198) !important;
}

/* end training page */

/* question page */
.answer-box {
    width: 100%;
    height: 130px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--control-bg);
    
}
.question-wood-images {
	height: calc(100% - 115px);
}
.question-wood-images .wood-description {
	display: none;
}
.multiple-choice-answer-list {
}
.multiple-choice-answer {
    height: calc(130px / 2.94);
    padding: 0;
    text-align: center;
    color: var(--font-color);
    background: none;
    border: 0;
    border-top: 1px solid white;

}
.multiple-choice-answer .item-content {
	padding: 10px;
}
.multiple-choice-answer .radio-icon {
	padding: 0 10px 0 0;
	float: right;
}

.item-radio input:checked + .radio-content {
    background-color: white;
    color: var(--font-color-dark);
}
.item-radio.is-wrong-answer input:checked + .radio-content {
    color: red;
    background-color: white;
}
.item-radio.is-correct-answer input:checked + .radio-content {
    color: var(--pane-bg);
    background-color: white;
}
.item-radio.is-wrong-answer input + .radio-content {
    background-color: rgba(255, 0, 0, 0.4);
    color: white;
}
.item-radio.is-correct-answer input + .radio-content {
    background-color: var(--pane-bg);
}
.item-radio.is-correct-answer input + .radio-content .radio-icon {
    visibility: visible;
}

.item-radio.is-correct-answer input:checked + .radio-content .ion-checkmark:before {
    color: var(--pane-bg);
}

#infoButton,
#nextButton {
    display: none;
	white-space: nowrap;
	float: right;
	width: 25%;
    position: absolute;
    top: 0;
    transform: translateY(-102%);
    z-index: 2;
    color: var(--font-color);
    background-color: var(--control-bg);
    border: 0;
}
#infoButton {
    left: 0;
}
#nextButton {
    right: 0;
}

/* training conf page */
.button.start-training {
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translate(-50%);
}

.popup,
.popup h3 {
    color: #4e4e4e;
}