<ion-view title="Awnser" hide-back-button="true" class="scroll-vieww">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header" style="background: #f0f;">
		<div class="centered answer-container">
			<h1>{{answer}}</h1>

	<!--
			recives: right/rong  and woodid<br>
			shows: right or (wrong with right answer)
	-->
			<button class="button button-balanced next-question" ng-click="nextQuestion()">
				Next Question
			</button>
		</div>
	</ion-content>
</ion-view>