<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content >
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
          <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon button-royal" menu-toggle="right">
            </button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="mainContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/woods">
          <span class="menu-item">Woods</span>
        </ion-item>
        <ion-item menu-close href="#/app/question">
          <span class="menu-item">Training</span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>