<ion-view title="Training">
	<ion-content class="has-header" scroll="false">
		<h4>Anleitung</h4>
        <p>Es stehen immer 3 optionen zur auswahl. Sobald du die richtige ausgewählt hast kannst du dir, bevor du next drückst, die anderen optionen anschauen.</p>
<!--<ul class="list">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked>
     </label>Nadelholz
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked>
     </label>Laubholz
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>Flux Capacitor
  </li>
</ul>-->
		<button id="start-training" class="button button-balanced start-training" ng-click="startTraining()">
			start test training
		</button>
	</ion-content>
</ion-view>
