<ion-view title="Wood">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header" scroll="false">
		<h1 class="wood-name">{{Wood.name_de}}</h1>
		<button id="openImages" class="button button-balanced" ng-click="switch()">Bilder</button>
		<hr style="clear:both;">
		<div ng-include="'templates/woodDescription.html'"></div>
		<div class="wood-images">
			<imageswitch wood-id="Wood.id" random="false"></imageswitch>
		</div>
	</ion-content>
</ion-view>
