<div class="wood-description">
    <table class="wood-data-table">
        <tr>
            <td>name de</td>
            <td>{{Wood.name_de}}</td>
        </tr>
        <tr>
            <td>name bo</td>
            <td>{{Wood.name_bo}}</td>
        </tr>
        <tr>
            <td>Holzart </td>
            <td ng-switch on="Wood.woodtype">
                <span ng-switch-when="0">Nadelholz</span>
                <span ng-switch-when="1">Laubholz ringporig</span>
                <span ng-switch-when="2">Laubholz zerstreutporig</span>
            </td>
        </tr>
        <tr>
            <td>Holz</td>
            <td>{{Wood.m_holz}}</td>
        </tr>
        <tr>
            <td>Kernholz</td>
            <!-- @todo change woodtype to heartwood -->
            <td ng-switch on="Wood.woodtype">
                <span ng-switch-when="0">Keins</span>
                <span ng-switch-when="1">Obligatorisch</span>
                <span ng-switch-when="2">Fakultative</span>
            </td>
        </tr>
        <tr>
            <td>frisches Holz</td>
            <td>{{Wood.m_frisch}}</td>
        </tr>
        <tr>
            <td>Rinde</td>
            <td>{{Wood.m_rinde}}</td>
        </tr>
        <tr>
            <td>Ähnlich</td>
            <td>{{Wood.confusion}}</td>
        </tr>
    </table>
</div>
