<ion-view title="Wood" view-title="{{Wood.name_de}}">

    <ion-nav-buttons side="left">
      <button class="button-back button button-icon button-clear button-royal ion-chevron-left" ng-click="backToWoods()">
        Woods
      </button>
    </ion-nav-buttons>
    <ion-content class="has-header" scroll="false">
        <h1 class="wood-name">{{Wood.name_de}}</h1>
        <button id="openImages" class="button button-balanced" ng-click="switch()">Bilder</button>
        <hr style="clear:both;">
        
        <ion-tabs class="tabs-icon-top tabs-positive">
            <ion-tab title="Info" icon-on="ion-clipboard" icon-off="ion-clipboard">
                <ion-content>
<!--                    <ion-nav-view name="tab-info">-->
                        <infotable class="wood-properties" infos="Wood.properties" style="display:block;"></infotable>
<!--                    </ion-nav-view>-->
                </ion-content>
            </ion-tab>
            <ion-tab title="Bilder" icon-on="ion-images" icon-off="ion-images">
                <ion-content>
<!--                    <ion-nav-view name="tab-bilder"></ion-nav-view>-->
                    <div class="wood-images">
                        <imagecarousel style="height: 800px;" images="Wood.images" random="true"></imagecarousel>
                    </div>
                </ion-content>
            </ion-tab>
        </ion-tabs>

	</ion-content>
</ion-view>
