<ion-view view-title="Woods" >
  <ion-nav-buttons side="primary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="wood in woods" href="#/app/woods/{{wood.id}}" class="wood-tile">
        <div class="wood-thumbnail-wrapper">
		      <img ng-src="{{wood.preview}}" class="wood-thumbnail" />
        </div>
        <div class="wood-name-wrapper">
          <span class="name-de">{{wood.name_de}}</span><br>
          <span class="name-bo">{{wood.name_bo}}</span>
        </div>
        <div class="wood-statistics-wrapper">
          <div class="wood-statistics-label">
              {{ wood.stats.learnedPercent}}%
          </div>
          <progress-arc
            size="50"
            stroke="orange"
            background="white"
            complete="(wood.stats.learned || 0)"
            stroke-width="3"
            progress="0.75"
            counter-clockwise="false">
          </progress-arc>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
